src/main/resources/wsdl/MSPContext.xsd

<xsd:schema targetNamespace="http://www.csc.smart/msp/schemas/MSPContext" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.csc.smart/msp/schemas/MSPContext">
   <!--***************************************************************************************************************
	
	    Copyright 2011 - 2014, Computer Sciences Corporation. All rights reserved.
	
	    Use of this product is subject to your license agreement. Warning: This computer program is protected by 
	    copyright law and international treaties. Unauthorized reproduction or distribution of this program, or any 
	    portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent
	    possible under the law.
		
		***************************************************************************************************************
		
		MSP Context Schema
		==================
		
		This is an MSP Context structure that is included in the request message for Auto generated JAX-WS services.
		
		This allows for additional service information to be included in the request over and above what is auto
		generated from the Business object copybook.
		
		***************************************************************************************************************
		*
		*  Amendment History
		*  ==================
		*
		*  Date         Vsn/Mod   Work Unit    By
		*
		*  01/11/2011   01/01     D12BST       Steve Hale
		*               Initial version.
		*
		***************************************************************************************************************-->
   <xsd:element name="RequestParameter">
      <xsd:complexType>
         <xsd:attribute name="name" type="xsd:string" use="required"/>
         <xsd:attribute name="value" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestParameters">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RequestParameter"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="UserId">
      <xsd:simpleType>
         <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
         </xsd:restriction>
      </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UserPassword">
      <xsd:simpleType>
         <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
         </xsd:restriction>
      </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MSPContext">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="UserId"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="UserPassword"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RequestParameters"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>